@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200 font-sans antialiased m-0 min-h-screen;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}

/* Smooth transitions */
* {
  @apply transition-colors duration-150;
}

/* Custom Webkit scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700;
}
